TicketHub/Connected Services/ServiceReference1/WCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59408/WCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59408/WCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59408/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFService_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IWCFService_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_InsertTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTicket" />
  </wsdl:message>
  <wsdl:message name="IWCFService_InsertTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FindUser_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUser" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FindUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FindTicketById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindTicketById" />
  </wsdl:message>
  <wsdl:message name="IWCFService_FindTicketById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindTicketByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DisplayAllTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllTickets" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DisplayAllTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisplayAllTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicket" />
  </wsdl:message>
  <wsdl:message name="IWCFService_DeleteTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFService">
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/InsertUser" message="tns:IWCFService_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/InsertUserResponse" message="tns:IWCFService_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/InsertTicket" message="tns:IWCFService_InsertTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/InsertTicketResponse" message="tns:IWCFService_InsertTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/FindUser" message="tns:IWCFService_FindUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/FindUserResponse" message="tns:IWCFService_FindUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindTicketById">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/FindTicketById" message="tns:IWCFService_FindTicketById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/FindTicketByIdResponse" message="tns:IWCFService_FindTicketById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisplayAllTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DisplayAllTickets" message="tns:IWCFService_DisplayAllTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/DisplayAllTicketsResponse" message="tns:IWCFService_DisplayAllTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFService/DeleteTicket" message="tns:IWCFService_DeleteTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFService/DeleteTicketResponse" message="tns:IWCFService_DeleteTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWCFService" type="tns:IWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IWCFService/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTicket">
      <soap:operation soapAction="http://tempuri.org/IWCFService/InsertTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUser">
      <soap:operation soapAction="http://tempuri.org/IWCFService/FindUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindTicketById">
      <soap:operation soapAction="http://tempuri.org/IWCFService/FindTicketById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAllTickets">
      <soap:operation soapAction="http://tempuri.org/IWCFService/DisplayAllTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTicket">
      <soap:operation soapAction="http://tempuri.org/IWCFService/DeleteTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WCFService">
    <wsdl:port name="BasicHttpBinding_IWCFService" binding="tns:BasicHttpBinding_IWCFService">
      <soap:address location="http://localhost:59408/WCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>