TicketHub/Connected Services/ServiceReference1/WCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59408/WCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TicketService" />
  <xs:element name="InsertUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicketService" minOccurs="0" name="u" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicketService" minOccurs="0" name="t" nillable="true" type="q2:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TicketService" minOccurs="0" name="u" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TicketService" minOccurs="0" name="FindUserResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTicketById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ticket" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindTicketByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TicketService" minOccurs="0" name="FindTicketByIdResult" nillable="true" type="q5:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAllTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisplayAllTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TicketService" minOccurs="0" name="DisplayAllTicketsResult" nillable="true" type="q6:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TicketService" minOccurs="0" name="t" nillable="true" type="q7:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicketResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>